body{
    background: linear-gradient(345deg, rgba(13, 209, 206, 0.877),     rgba(255, 255, 255, 0.717) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%);
}
.navbar{
    background: linear-gradient(345deg, rgba(13, 209, 206, 0.877),     rgba(255, 255, 255, 0.717) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%);
}
.navbar-brand{
    font-family: Brush Script MT;
    color: rgb(63, 161, 128);
}
.navbar-brand:hover{
    color: rgb(22, 170, 211);
}

.dropdown:hover,
.panier:hover,
.txt-panier:hover{
    color: rgb(35, 152, 168);;
}
.btn-search{
    border: 1px solid rgb(35, 152, 168);
}
.btn-search:hover{
    background-color: rgb(44, 173, 156);
    border: 1px solid rgb(35, 152, 168);
}
.connecter, .inscrire{
    background-color: rgb(44, 173, 156);
}
.search{
    width: 135% !important;
}
.prix{
    margin-top: -22px;
}
.part1{
    height: 375px;
}
.col1{
    height: 81%;
}
.new:hover,
.temoin:hover
{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    border-radius: 15px;
    transition-duration: 0.5s;
}
.btnAbon:hover{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    transition-duration: 0.5s;
}
.btnAbon{
    background-image: radial-gradient(rgb(34, 140, 161), rgb(23, 214, 217));
}
.img{
    width: 100px;
    height: 100px;
}
.temoignage{
    background-image: linear-gradient(rgb(33, 139, 141), rgb(0, 255, 234));
}
.aFooter a{
    color: rgb(231, 236, 240);
    text-decoration: none;
}
.aFooter a:hover{
    text-decoration: underline aliceblue;
}
.footer{
    background-color: rgb(60, 85, 85);
}
@media screen and (max-width: 821px){
    .search{
        width: 25% !important;
    }
}
@media screen and (max-width: 415px){
    .Dnew{
        width: 50%;
    }
}



/*======  LOGIN PAGE =====*/


.inscription .btn{
    background-image: radial-gradient(rgb(34, 140, 161), rgb(23, 214, 217));
}
.inscription .btn:hover{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    transition-duration: 0.9s;
}
.inscription .formuler{
    background-color: rgb(36, 121, 121) !important;
}
.offcanvas{
    background-color: rgb(42, 98, 105);
}
.inscription input:focus
{
    border-bottom: 2px solid rgb(20, 13, 12) !important;
    box-shadow: 0px 3px 3px rgb(2, 1, 1) !important;
    border-bottom-left-radius: 7px !important;
}
.inscription .inscrip:hover{
    box-shadow: 0 0 5px rgb(4, 15, 13);;
    transform:scale(0.9);
    transition-duration: 0.9s;
    background-color: rgb(209, 216, 217);
}

@media screen and (max-width: 415px){
    .inscription .formuler{
        width: 100% !important;
    }
}