.btn:hover{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    transition-duration: 0.9s;
}
.log:hover{
    box-shadow: 0 0 5px rgb(4, 15, 13);;
    transform:scale(1.1);
    transition-duration: 0.9s;
}
.btn{
    background-image: radial-gradient(rgb(34, 140, 161), rgb(23, 214, 217));
}
body{
    background-image: linear-gradient(to right, rgb(38, 167, 169), rgb(28, 99, 101));
}

img{
    width: 180px;
}
@media screen and (max-width: 1440px) {
    .formuler{
        border-top-left-radius: 150px !important;
        border-bottom-left-radius: 150px !important;
    } 
    .inscription{
        margin-top: -500px;
    }
    .inscri{
        margin-top: 150px !important;
    }
    .login{
        width: 80px;
    }
}
@media screen and (max-width: 821px) {
    .formuler{
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    } 
    .inscription{
        margin-top: 0px;
    }
    .inscri{
        margin-top: 0px !important;
        text-align: center;
        margin-top: 15px !important;
    }
    .login{
        position: absolute;
        bottom: -75px;
        left: 50px;
        width: 100px;
    }
    img{
        width: 130px;
    }
}
@media screen and (max-width: 415px) {
    .formuler{
        width: 100% !important;
        margin-bottom: 100px !important;
    } 
    .login{
        position: absolute;
        bottom: 25px;
        left: 50px;
        width: 100px;
    }
    img{
        width: 130px;
    }
}

