.btn{
    background-image: radial-gradient(rgb(34, 140, 161), rgb(23, 214, 217));
}
.btn:hover{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    transition-duration: 0.9s;
}
.formuler{
    background-color: rgb(36, 121, 121) !important;
}
body{
    background-color: rgb(42, 98, 105);
}
input:focus
{
    border-bottom: 2px solid rgb(20, 13, 12) !important;
    box-shadow: 0px 3px 3px rgb(2, 1, 1) !important;
    border-bottom-left-radius: 7px !important;
}
.inscrip:hover{
    box-shadow: 0 0 5px rgb(4, 15, 13);;
    transform:scale(0.9);
    transition-duration: 0.9s;
    background-color: rgb(209, 216, 217);
}

/* @media screen and (max-width: 415px){
    .formuler{
        width: 100% !important;
    } 
}*/